/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: white;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
========================
Header Elements
========================
*/
header {
	font-size: 50px;
	margin: 10px;
	padding: 20px;
}

a {
	text-decoration: none;
	color: #FF9900 ;
}

a:hover {
	color: rgb(255, 127, 53);
}
nav {
	/*text-align: center;*/
	font-size: 20px;
	padding: 10px;
	margin: 10px;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;

}

nav {
	border: 1px solid black;
	background-color: #e9c48e;
	width: auto;
	border-radius: 30px;
	position: relative;
	left: 20px;
	
}
nav ul {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

nav li {
	margin: 0px 2px 0px 2px;
	padding: 4px 4px;
	/*border: 2px solid black; */
	width: auto;
	display: inline;
}
nav ul li a {
	color: black;
}

nav ul li a:hover {
	color:  rgb(255, 127, 53);
	text-decoration: underline;
	
}

/*image of hinata on logo*/

#hinata1 {
	border-radius: 50%;
	width: 200px;
	height: auto;
	float: left;
}

/*
======================
Body of Page
======================
*/

h2 {
	font-size: 40px;
}

ol {
	display: flex;
	flex-direction: column;
	flex-flow: column wrap;
}
ol {
	list-style: none;
	counter-reset: counter;
  }
  ol li {
	counter-increment: counter;
  }
  ol li::before {
	content: counter(counter) ". ";
	color: white;
	font-weight: bold;
  }
